<!DOCTYPE html>
<html lang="es">
<head>
    <title>Inicio de sesión</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="Shortcut Icon" type="image/x-icon" href="/static/login/assets/icons/book.ico" />
    <script src="/static/login/js/sweet-alert.min.js"></script>
    <link rel="stylesheet" href="/static/login/css/sweet-alert.css">
    <link rel="stylesheet" href="/static/login/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/static/login/css/normalize.css">
    <link rel="stylesheet" href="/static/login/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/login/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="/static/login/css/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    
    <script src="/static/login/js/modernizr.js"></script>
    <script src="/static/login/js/bootstrap.min.js"></script>
    <script src="/static/login/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/static/login/js/main.js"></script>
</head>
<body>
  <div class="login-container full-cover-background">
    <div class="form-container">
        <p class="text-center" style="margin-top: 17px;">
           <i class="zmdi zmdi-account-circle zmdi-hc-5x"></i>
       </p>
       <h4 class="text-center all-tittles" style="margin-bottom: 30px;">inicia sesión con tu cuenta</h4>
       <form action="" method="POST" >
        {% csrf_token %}

            <div class="group-material-login">
              <input type="text" class="material-login-control" id="username" name="username" >
              <span class="highlight-login" for=Username></span>
              <span class="bar-login"></span>
              <label><i class="zmdi zmdi-account"></i> &nbsp; Usuario</label>
            </div><br>
            <div class="group-material-login">
              <input type="password" class="material-login-control" id="password" name="password"  >
              <span class="highlight-login" for="Password"></span>
              <span class="bar-login"></span>
              <label><i class="zmdi zmdi-lock"></i> &nbsp; Contraseña</label>
            </div>
            <a class="btn-login1" href="/registrar/" style="background:#121212;color:white">Registrate &nbsp; <i class="zmdi zmdi-left"></i></a>
            <button class="btn-login" type="submit">Ingresar al sistema &nbsp; <i class="zmdi zmdi-arrow-right"></i></button>
        </form>
    </div>   
  </div>
</body>
</html>s