{% extends 'inicio/inicio.html' %}
{% block titulo %}Lista Ventas{% endblock titulo %}
{% block body %}
<div>
    <a class="btn btn-primary" type="button" href="{% url 'crear_venta' %}">
        Nueva Venta
    </a>
</div>
<br>
<div class="card">
    <div class="card-header">
        <strong class="card-title">Lista Venta</strong>
    </div>
    <div class="table-stats order-table ov-h">
        <table class="table" id="datatable">
            <thead>
                <tr>
                    <th>n_venta</th>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Subtotal </th>
                    <th>Iva</th>
                    <th>Total</th>

                </tr>
            </thead>
            <tbody>
                {% if ventas %}
                {% for p in ventas %}
                <tr>
                    <td>{{p.n_venta}}</td>
                    <td>{{p.fk_cliente}}</td>
                    <td>{{p.fecha}}</td>
                    <td>{{p.subtotal}}</td>
                    <td>{{p.iva}}</td>
                    <td>{{p.total}}</td>
                <td>
                        <button class="btn btn-primary"onclick="abrir_modal_edicion('{% url 'editar_venta' p.id %}')">
                            Ver Detalles venta
                        </button>
                        <a href="#" onclick="eliminarventas({{ p.id }})" class="btn btn-danger"> Eliminar </a>
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<h1>No existen Ventas Registrados</h1>
{% endif %}

</div>

</div>
<div class="modal face" id="edicion" role="dialog">
</div>
{% endblock body %}

{% block extrajs %}
<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_creacion(url){
        $('#creacion').load(url, function(){
            $(this).modal('show')
        })
    }
    function abrir_modal_edicion(url){
        $('#edicion').load(url, function(){
            $(this).modal('show')
        })
    }

    function eliminarventas(id){
        //console.log(id)           
        Swal.fire({
            title: 'Estas seguro?',
            text: "Se borrará de forma permanente!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonText: 'Cancelar',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si eliminar'
            }).then(function(result) {
                if (result.isConfirmed) {
                    window.location.href= "/eliminar_venta/"+id+"/"
                  
                    }
                })
            }
</script>

{% endblock extrajs %}